{%extends 'base.html'%}

{%block body%}

<h2>🚴🏻‍♀️ Fahrradmarke</h2>

<form method="post" , class="row g-2">

    {{form.csrf_token()}}

    {{form.FahrradMarkenID()}}


    <div class="col-md-6">
        <label for="Markenname" class="form-label">Markenname</label>
        {{form.MarkenName(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="CEO" class="form-label">CEO</label>
        {{form.CEO(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Email" class="form-label">Email</label>
        {{form.Email(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Standort" class="form-label">Standort</label>
        {{form.Standort(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <button type="submit" class="btn btn-outline-dark">Speichern</button><br>
        </br>
    </div>

</form>

{%endblock body%}