{%extends 'base.html'%}

{%block body%}

<h2>🚴🏻‍♀️ Fahrradmarke</h2>

<form method="post">

    {{form.csrf_token}}

    <div class="row mb-3">
        <label for="MarkenName" class="col-sm-2 col-form-label">Markenname</label>
        <div class="col-sm-10">
            {{form.MarkenName()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="CEO" class="col-sm-2 col-form-label">CEO</label>
        <div class="col-sm-10">
            {{form.CEO()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            {{form.Email()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Standort" class="col-sm-2 col-form-label">Standort</label>
        <div class="col-sm-10">
            {{form.Standort()}}
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Speichern</button><br>
</br>

</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <td scope="col">FahrradMarkenID</td>
            <td scope="col">FahrradID</td>
            <td scope="col">Markenname</td>
            <td scope="col">CEO</td>
            <td scope="col">Email</td>
            <td scope="col">Standort</td>
        </tr>
    </thead>
    <tbody>
        {%for fahrradMarken in fahrradMarke%}
        <tr>
            <td scope="row">{{fahrradMarken.FahrradMarkenID}}</td>
            <td scope="row">{{fahrradMarken.FahrradID}}</td>
            <td>{{fahrradMarken.MarkenName}}</td>
            <td>{{fahrradMarken.CEO}}</td>
            <td>{{fahrradMarken.Email}}</td>
            <td>{{fahrradMarken.Standort}}</td>
        </tr>
        {%endfor%}

    </tbody>
</table>
{%endblock%}