{%extends 'base.html'%}

{%block body%}

<h2>🚴🏻‍♀️ Fahrradmarke</h2>

<form method="post" , class="row g-2">

    {{form.csrf_token}}


    <div class="col-md-6">
        <label for="Markenname" class="form-label">Markenname</label>
        {{form.MarkenName(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="CEO" class="form-label">CEO</label>
        {{form.CEO(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Email" class="form-label">Email</label>
        {{form.Email(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Standort" class="form-label">Standort</label>
        {{form.Standort(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <button type="submit" class="btn btn-outline-dark">Speichern</button><br>
        </br>
    </div>

</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <td scope="col">FahrradMarkenID</td>
            <td scope="col">Markenname</td>
            <td scope="col">CEO</td>
            <td scope="col">Email</td>
            <td scope="col">Standort</td>
            <td scope="col"></td>
            <td scope="col"></td>
        </tr>
    </thead>
    <tbody>
        {%for fahrradMarken in fahrradMarke%}
        <tr>
            <td scope="row">{{fahrradMarken.FahrradMarkenID}}</td>
            <td>{{fahrradMarken.MarkenName}}</td>
            <td>{{fahrradMarken.CEO}}</td>
            <td>{{fahrradMarken.Email}}</td>
            <td>{{fahrradMarken.Standort}}</td>
            <td>
                <form method="post" action="/fahrradMarken/delete">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="FahrradMarkenID" id="FahrradMarkenID"
                        value="{{fahrradMarken.FahrradMarkenID}}">
                    <button class="btn btn-outline-dark" onclick="deleteFahrradMarken(this); return false;">🗑️</a>
                </form>
            </td>
            <td>
                <button class="btn btn-outline-dark"
                    onclick="window.location.href='/edit_fahrradMarke?FahrradMarkenID={{fahrradMarken.FahrradMarkenID}}'">✏️</button>
            </td>
        </tr>
        {%endfor%}

    </tbody>
</table>
{%endblock%}