{%extends 'base.html'%}

{%block body%}

<h2>👩🏻‍💼 Kunden</h2>

<form method="post" , class="row g-2">

    {{form.csrf_token()}}

    {{form.KundenID()}}

    <div class="col-md-6">
        <label for="Vorname" class="form-label">Vorname</label>
        {{form.VorName(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Nachname" class="form-label">Nachname</label>
        {{form.NachName(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Geburtsdatum" class="form-label">Geburtsdatum</label>
        {{form.Geburtsdatum(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Email" class="form-label">Email</label>
        {{form.Email(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <button type="submit" class="btn btn-outline-dark">Speichern</button><br>
        </br>
    </div>

</form>

{%endblock body%}