{%extends 'base.html'%}

{%block body%}

<h2>👩🏻‍💼 Kunden</h2>

<form method="post">
    
    {{form.csrf_token}}

    <div class="row mb-3">
        <label for="Vorname" class="col-sm-2 col-form-label">Vorname</label>
        <div class="col-sm-10">
            {{form.VorName()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Nachname" class="col-sm-2 col-form-label">Nachname</label>
        <div class="col-sm-10">
            {{form.NachName()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Geburtsdatum" class="col-sm-2 col-form-label">Geburtsdatum</label>
        <div class="col-sm-10">
            {{form.Geburtsdatum()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            {{form.Email()}}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Speichern</button><br>
</br>
    
</form>

<table class="table">
    <thead class="table-dark">
      <tr>
        <td scope="col">KundenID</td>
        <td scope="col">Vorname</td>
        <td scope="col">Nachname</td>
        <td scope="col">Geburtsdatum</td>
        <td scope="col">Email</td>
      </tr>
    </thead>
    <tbody>
        {%for kunde in kunden%}
        <tr>
            <td scope="row">{{kunde.KundenID}}</td>
            <td>{{kunde.VorName}}</td>
            <td>{{kunde.NachName}}</td>
            <td>{{kunde.Geburtsdatum}}</td>
            <td>{{kunde.Email}}</td>
            <td>
                <form method="post" action="/kunden/delete">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="KundenID" id="KundenID" value="{{kunde.KundenID}}">
                    <button class="btn btn-outline-secondary" onclick="deleteKunden(this); return false;">🗑️</a>
                  </form>
            </td>
            <td>
                <button class="btn btn-outline-secondary" 
                    onclick="window.location.href='/edit_kunden?KundenID={{kunde.KundenID}}'">✏️</button>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}