{%extends 'base.html'%}

{%block body%}

<h2>🤝🏻 Ausleihen</h2>

<form method="post">

    {{form.csrf_token}}

    <div class="row mb-3">
        <label for="AusleiheDatum" class="col-sm-2 col-form-label">AusleiheDatum</label>
        <div class="col-sm-10">
            {{form.AusleiheDatum()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="RückgabeDatum" class="col-sm-2 col-form-label">RückgabeDatum</label>
        <div class="col-sm-10">
            {{form.RückgabeDatum}}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Speichern</button><br>
    </br>

</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <td scope="col">AusleihenID</td>
            <td scope="col">KundenID</td>
            <td scope="col">FahrradID</td>
            <td scope="col">AusleiheDatum</td>
            <td scope="col">RückgabeDatum</td>
        </tr>
    </thead>
    <tbody>
        {%for ausleihen in ausleihen%}
        <tr>
            <td scope="row">{{ausleihen.AusleihenID}}</td>
            <td scope="row">{{ausleihen.KundenID}}</td>
            <td scope="row">{{ausleihen.FahrradID}}</td>
            <td>{{ausleihen.AusleiheDatum}}</td>
            <td>{{ausleihen.RückgabeDatum}}</td>
            <td>
                <form method="post" action="/ausleihen/delete">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="AusleihenID" id="AusleihenID" value="{{ausleihen.AusleihenID}}">
                    <button class="btn btn-outline-secondary" onclick="deleteAusleihen(this); return false;">🗑️</a>
                  </form>
            </td>
        </tr>
        {%endfor%}

    </tbody>
</table>
{%endblock%}