{%extends 'base.html'%}

{%block body%}

<h2>🤝🏻 Ausleihen</h2>

<form method="post">

    {{form.csrf_token}}

    <div class="row mb-3">
        <label for="AsleiheDatum" class="col-sm-2 col-form-label">Ausleihe-Datum</label>
        <div class="col-sm-10">
            {{form.AusleiheDatum()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="RückgabeDatum" class="col-sm-2 col-form-label">Rückgabe-Datum</label>
        <div class="col-sm-10">
            {{form.RückgabeDatum}}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Speichern</button><br>
    </br>

</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <td scope="col">AusleihenID</td>
            <td scope="col">KundenID</td>
            <td scope="col">FahrradID</td>
            <td scope="col">Ausleihe-Datum</td>
            <td scope="col">Rückgabe-Datum</td>



        </tr>
    </thead>
    <tbody>
        {%for ausleihen in ausleihen%}
        <tr>
            <td scope="row">{{ausleihen.AusleihenID}}</td>
            <td scope="row">{{ausleihen.KundenID}}</td>
            <td scope="row">{{ausleihen.FahrradID}}</td>
            <td>{{ausleihen.AusleiheDatum}}</td>
            <td>{{ausleihen.RückgabeDatum}}</td>


        </tr>
        {%endfor%}

    </tbody>
</table>
{%endblock%}