{%extends 'base.html'%}

{%block body%}

<h2>🚲 Fahrrad</h2>

<form method="post" , class="row g-2">

    {{form.csrf_token()}}

    {{form.FahrradID()}}

    <div class="col-md-6">
        <label for="Model" class="form-label">Model</label>
        {{form.Model(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Farbe" class="form-label">Farbe</label>
        {{form.Farbe(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Reifen" class="form-label">Reifen</label>
        {{form.Reifen(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Preis" class="form-label">Preis</label>
        {{form.Preis(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <button type="submit" class="btn btn-outline-dark">Speichern</button><br>
        </br>
    </div>

</form>

{%endblock body%}