{%extends 'base.html'%}

{%block body%}

<h2>🚲 Fahrrad</h2>

<form method="post">

    {{form.csrf_token}}

    <div class="row mb-3">
        <label for="Model" class="col-sm-2 col-form-label">Model</label>
        <div class="col-sm-10">
            {{form.Model()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Farbe" class="col-sm-2 col-form-label">Farbe</label>
        <div class="col-sm-10">
            {{form.Farbe}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Reifen" class="col-sm-2 col-form-label">Reifen</label>
        <div class="col-sm-10">
            {{form.Reifen()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Preis" class="col-sm-2 col-form-label">Preis</label>
        <div class="col-sm-10">
            {{form.Preis()}}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Speichern</button><br>
    </br>

</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <td scope="col">FahrradId</td>
            <td scope="col">Model</td>
            <td scope="col">Farbe</td>
            <td scope="col">Reifen</td>
            <td scope="col">Preis</td>
        </tr>
    </thead>
    <tbody>
        {%for fahrrad in fahrrad%}
        <tr>
            <td scope="row">{{fahrrad.FahrradID}}</td>
            <td>{{fahrrad.Model}}</td>
            <td>{{fahrrad.Farbe}}</td>
            <td>{{fahrrad.Reifen}}</td>
            <td>{{fahrrad.Preis}}</td>
            <td>
                <form method="post" action="/fahrrad/delete">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="FahrradID" id="FahrradID" value="{{fahrrad.FahrradID}}">
                    <button class="btn btn-outline-secondary" onclick="deleteFahrrad(this); return false;">🗑️</a>
                  </form>
            </td>
        </tr>
        {%endfor%}

    </tbody>
</table>
{%endblock%}