{%extends 'base.html'%}

{%block body%}

<h2>🚲 Fahrrad</h2>

<form method="post" , class="row g-2">

    {{form.csrf_token}}

    <div class="col-md-6">
        <label for="Model" class="form-label">Model</label>
        {{form.Model(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Farbe" class="form-label">Farbe</label>
        {{form.Farbe(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Reifen" class="form-label">Reifen</label>
        {{form.Reifen(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Preis" class="form-label">Preis</label>
        {{form.Preis(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <button type="submit" class="btn btn-outline-dark">Speichern</button><br>
        </br>
    </div>

</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <td scope="col">FahrradId</td>
            <td scope="col">Model</td>
            <td scope="col">Farbe</td>
            <td scope="col">Reifen</td>
            <td scope="col">Preis</td>
            <td scope="col"></td>
            <td scope="col"></td>
        </tr>
    </thead>
    <tbody>
        {%for fahrrad in fahrrad%}
        <tr>
            <td scope="row">{{fahrrad.FahrradID}}</td>
            <td>{{fahrrad.Model}}</td>
            <td>{{fahrrad.Farbe}}</td>
            <td>{{fahrrad.Reifen}}</td>
            <td>{{fahrrad.Preis}}</td>
            <td>
                <form method="post" action="/fahrrad/delete">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="FahrradID" id="FahrradID" value="{{fahrrad.FahrradID}}">
                    <button class="btn btn-outline-dark" onclick="deleteFahrrad(this); return false;">🗑️</a>
                </form>
            </td>
            <td>
                <button class="btn btn-outline-dark"
                    onclick="window.location.href='/edit_fahrrad?FahrradID={{fahrrad.FahrradID}}'">✏️</button>
            </td>
        </tr>
        {%endfor%}

    </tbody>
</table>
{%endblock%}